# Thư mục biên dịch và file tạm thời
target/
*.log
*.jar
*.war
*.class

# IDE và công cụ build
/.idea/
/.vscode/
/.gradle/
/mvnw
/mvnw.cmd

# File cấu hình cá nhân
application.properties
application.yaml
.env
